body {
 background-color: black;
}

button {
 background-color: black;
 border-color: cyan;
 border-width: 3;
 color: cyan;
}

button:active {
 <a href="https://css-tricks.com">Cheat Codes</a>
}

h1 {
 color: cyan;
}

p {
 color: cyan;
}
